/* Write your CSS here */
.button {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  width: 130px;
  background-color: #585076;
  color: #d4d2db;
  border-style: solid;
  border-width: 1px;
  border-color: #d4d2db;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
.list_item {
  list-style-type: none;
  /* flex-wrap: wrap;
  display: flex; */
  /* justify-content: flex-start; */
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .button {
    margin: 5px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
  }
}
